<nav class="fixed z-50">
  <div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />

    <div class="drawer-content flex flex-col items-center justify-center ml-3 mt-3">
      <label for="my-drawer-2" class="btn btn-primary drawer-button lg:hidden">
        <img src="/svg/bars-3.svg" class="h-5" alt="Bars-3 Logo SVG">
      </label>
    </div>

    <div class="drawer-side">
      <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label> 
      <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content text-xl">
        <!-- Sidebar content here -->
        <li><a href="/"><img src="/svg/home.svg" class="h-5" alt="Home Logo SVG">Home</a></li>
        <div class="divider"></div> 
        <li><a href="/admin/add"><img src="/svg/add.svg" class="h-5" alt="Add Logo SVG">Add Product</a></li>
        <li><a href="/admin"><img src="/svg/list.svg" class="h-5" alt="List Logo SVG">Product List</a></li>
        <div class="divider"></div>
        <li><a href="/admin/login"><img src="/svg/login.svg" class="h-5" alt="Login Logo SVG">Login</a></li>
        <li><a href="/admin/users"><img src="/svg/login.svg" class="h-5" alt="Login Logo SVG">Users</a></li>
      </ul>
    </div>
  </div>
</nav>