<%- include('includes/head.ejs') %>
<script type="module" src="/refresh-token.js"></script>
<script type="module" src="/fetch-users.js"></script>
</head>
<%- include('includes/navigation.ejs')  %>
<body>
    <main>
        <div class="flex flex-col justify-center items-center ml-80 mb-10">
            
                <h1 class="text-center uppercase font-bold text-7xl	text-transparent bg-clip-text 
                bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 my-10
                ">Users</h1>

                <table class="table mb-10" >
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Delet</th>
                        </tr>
                    </thead>
                    <tbody id="users-table">  </tbody>
                </table>

                <h2 class="mb-10">Add User</h2>

                <form id="form-user">
                    <input type="text" placeholder="Name" class="input input-bordered w-full mb-5" name="name"/>
                    <input type="text" placeholder="Email" class="input input-bordered w-full mb-5" name="email"/>
                    <input type="text" placeholder="Password" class="input input-bordered w-full mb-5" name="password"/>
                    <input class="btn btn-active btn-primary w-full" type="submit" value="SUBMIT USER">
                </form>



                <div style="display: none;" id="status-panel" class="alert alert-info w-80 fixed bottom-1 right-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                    <span id="status" >Some informations.</span>
                    <button id="panel-btn" class="btn-error btn rounded-full">X</button>
                </div>
            
        </div>
    </main>
<%- include('includes/footer.ejs')  %>