.circle {
    width: 185px;
    height: 150px;
    background: linear-gradient(to bottom, rgba(98, 0, 255, 0.4) 40%, rgba(255, 0, 200, 0.4) 50%);
    filter: blur(45px);
    position:absolute;
    top: 220px;
    left: 65px;
    
}